<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Mirage Garage wasn't built overnight (although the Sherpas try their hardest!). It definitely wouldn't happen without the involvement and efforts of a few key individuals working together to create something greater than themselves or their trust funds. Here's a timeline from inception to what you see today.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2010-2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The founders of the camp, tired and jaded from attending Coachella year after year, began to search for something new. Instagram, created in 2010, had a trending hashtag of "#burningman", and one of the founders happened to see it in their feed after subscribing to the "#festival" tag. The founders were intrigued and began their research in earnest.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">A Camp is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Realizing that they could get ahead of the festival and turn-key experience turn, the founders began to plot what kind of camp they wanted to build. It needed to be more luxurious, exclusive, and trendy than the other neighboring, competing camps, so they enlisted the help of wealthy benefactors to turn their dreams into reality. They realized that building such a camp wasn't going to be cheap, and that bribing the Org to turn the other way wasn't free either.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2012</h4>
                                <h4 class="subheading">The Camp Lives</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">After nearly a year of planning and schmoozing the right people, Mirage Garage finally made it to the Playa. Featuring only forty air-conditioned tents, a Michelin star rated chef, and only one masseuse for the campers, the group toughed it out in the rugged conditions, and barely made it through. The organizers vowed to never put their campers through such hardships again, and began to plan anew.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>August 2018</h4>
                                <h4 class="subheading">The Camp Today</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Fast forward a few years and one wouldn't recognize the Mirage Garage that came out in 2012 vs the complex that dominates the 6 and I plaza. With multiple art cars, public air conditioned space, an exhibition tent, an onsite photographer, public Wi-fi, and an army of hosts ready to cater to every campers needs, Mirage Garage stepped up its game to become THE destination on the Playa. However, there's always room for more campers, which leads to the next phase of our story...</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Camp!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
