<!-- camp Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Camp Events</h2>
                <h3 class="section-subheading text-muted">Mirage Garage is pleased to finally announce its 2019 event schedule! Please find all evenst below. We encourage all campers in our welcome packet to hand out Party Flyers to beg people to come to our events so they don't look like total ghost towns - participation is key to being in good standing!</h3>
            </div>
        </div>
        <div class="col-md-12 text-center">
						<table class="table table-bordered table-dark">
							<thead>
								<tr>
									<th scope="col">Day/Time</th>
									<th scope="col">Name</th>
									<th scope="col">Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Monday, 10AM-12AM</th>
									<td>Pimp Your Kimono</td>
									<td>Here at Mirage Garage two things that we prioritize is feeling and looking good, and there's no better way to achieve both than rocking a bangin' Kimono! Bring your Kimono or get one here produced by our in-house master seamstress and pimp it out. Prizes will be given for the most decked out Kimono, as judged by Xzibit himself!</td>
								</tr>
								<tr>
									<th scope="row">Tuesday, all day</th>
									<td>Sherpa Hunting</td>
									<td>Filling an entire corner of a plaza is no easy feat, and it takes a lot of manpower to put it all together. It's tough to recruit people for no pay to labor in the hot sun with no facilities the week before early entry, so here at the Garage we tell them they can camp with us all week as bait. However, we pull the ol' switcheroo and then kick them out right as they finish. This is a tried and true technique us New Yorkers learned from the great New York legend Trump himself! This leaves us in the position where we need to find new Sherpas to tear everything down, and that's where you come in! Whoever can bag the most Sherpas will receive a golden net and trident.</td>
								</tr>
								<tr>
									<th scope="row">Wednesday, 8PM-12PM</th>
									<td>Motor Oil Cocktail Hour</td>
									<td>Continuing with the theme of cars and garages, Mirage Garage is pleased to open up the camp bar to everyone for our Motor Oil Cocktail Hour. However, there is a twist... all the drinks contain real motor oil! Disposing of leaking oil on Playa is quite tricky, so we like to slip some into every drink so that we don't have to deal with getting rid of it. Heaven forbid we get another giant red mark on the Moop Map!</td>
								</tr>
								<tr>
									<th scope="row">Thursday, 2PM-4PM</th>
									<td>Justify that Headdress Assistance</td>
                  <td>Everyone and their mother knows that you shouldn't wear a headdress on Playa, although everyone acknowledges how awesome they are. The general exception to this is that you can wear one if you can claim direct heritage. We're pleased to partner with Ancestry.com and 23andMe to find the most distant connection to you and someone in the distant past that was once able to wear a headdress. You might be a few dozen or hundred ancestors away, but we're confident in our ability to find or fudge that link!</td>
								</tr>
								<tr>
									<th scope="row">Thursday, 10PM-12AMM</th>
									<td>Dueling Megaphones</td>
                  <td>Pissed Off? Angry? Experiencing HALT? Get your angst out by grabbing a megaphone and screaming your grievances through it to the world and to other camps! Bring a partner and settle your differences with a battle of the megaphones. Whisky will be provided to bring out your truest feelings for an extra good time!</td>
								</tr>
								<tr>
									<th scope="row">Friday, 1PM-3PM</th>
									<td>Psychottherapy sessions</td>
                  <td>Exploiting the lower classes, being relentlessly ruthless in your day to day interactions, and generally engaging in cutthroat capitalist activities really beats down on you mentally. That's why we had a licensed professional psychotherapist on site to help your justify your terrible behavior! Let that guilt go away so you can put that next business ploy in play. With the doctor in, there's no way you're not going to win!</td>
								</tr>
							</tbody>
						</table>
        </div>
    </div>
</section>
