<!-- camp Section -->
<section id="camp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Camp</h2>
                <h3 class="section-subheading text-muted">At Mirage Garage, you're more than just a plug and play sparklepony, you're family. See what camping at Mirage Garage has to offer!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Sweet-Ass Art Cars</h4>
                <p class="text-muted">Need a way to get to deep Playa for your Instagram shoot but you've been slacking on Cardio day at Equinox and don't have the stamina? Mirage Garage is pleased to offer several stainless steel art cars for your convenience, which we affectionately refer to as the "Garbage Barge". As a bonus, one is always positioned in front of camp, so you don't even have to leave camp to get the shot! Cars are left unlocked in the event you need to get to deep Playa and the chauffeur is not at camp.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-heart-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">A 30,000 Dollar Shower</h4>
                <p class="text-muted">Mingle with the peasants and feel the need to wash the commoner stink away?. Our shower is the perfect amenity to do so. It is guaranteed to be stocked with the freshest product, comes with an unlimited supply of Lush products, and can get hotter than an old time Burner when they get angry watching the RVs pour in! Pay no attention to the Sherpa passed out behind the shower exhausted from setting it up.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Daily Cookies</h4>
                <p class="text-muted">Nothing brings camp together more than bonding over delicious food, and at Mirage Garage we have fresh baked cookies every afternoon. Our celebrity campers and supermodels will even pretend to cook them for you! Gluten free options are of course available, although note that the recipe used is NOT sourced from the Goop cookbook.</p>
            </div>
        </div>
    </div>
</section>
