<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Campers</h2>
                <h3 class="section-subheading text-muted">Mirage Garage is more than just a camp, it's a family that people call home. Meet some of our amazing campers!</h3>
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                    <h4>Tom Waits</h4>
                    <p class="text-muted">Camp Enthusiast</p>
                    <ul class="list-inline social-buttons">
                        
                        <li>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="">
                                <i class="fa fa-stack-overflow"></i>
                            </a>
                        </li>
                        

                    </ul>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                    <h4>Drivin A. Way</h4>
                    <p class="text-muted">Lead Art Car Driver</p>
                    <ul class="list-inline social-buttons">
                        
                        <li>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        

                    </ul>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                    <h4>Gold N. Showers</h4>
                    <p class="text-muted">Lead Shower Architect</p>
                    <ul class="list-inline social-buttons">
                        
                        <li>
                            <a href="">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        
                        <li>
                            <a href="">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        

                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h4>Camp Testimonials</h4>
             </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <p class="large text-muted"><i>My favorite thing about Mirage Garage is the diversity. Between all the beautiful head dresses walking around, the Day of the Dead face paint workshop, and pimp your Kimono sessions I just can't help but feel like I'm in this giant melting pot of beautiful people from all corners of the country. It feels like I grabbed the J train all the way from Greenwich Village to Queens and made a stop at every station! - Jonathan, Investment Banker, MAGA 2020</i></p>
              <p class="large text-muted"><i>I've found that there's few other places on Earth that inspire me the same way that Mirage Garage does. Usually come August I'm really stretching to come up with inspirational content for my Linkedin feed, but man oh man a day or two with the beautiful people at Mirage Garage really allows me to tap into the deepest parts of my soul to come up with amazing content. With camp internet access, I can post inspiring articles every day on my feed and my blog! Be sure to connect on Linkedin and follow my Medium.com page! - Sandra, Fitness Instructor and Motivational Speaker. Almost gave a TedX talk in 2018.</i></p>
              <p class="large text-muted"><i>Look, I'll cut straight to the chase with you, I camp with the Garage because there's a ton of beautiful bitches. Don't get me wrong, I have no shortage of that back home, but did you see the rack on that skank pouring drinks by the Smirnoff Fridge? Holy shit, am I right? Haha yeah give me a bump on that one. Oh...  nah fist bumps are cool, but I was talking about that Ketamine. - Chad, Los Angeles, Event Planner</i></p>
              <p class="large text-muted"><i>Let me put it this way: if we didn't have the Valyrian Steel (omg btw AMAZING NAME I love Game of Thrones LOL!) art car to help us get out of the slums and in front of the Temple my makeup would have looked like shit by the time we would have been ready for the shoot had we walked or used the elctric bikes. Henry and his wrench monkeys go the distance to ensure that we look our best when getting the shot, and they even went above and beyond this past year by forcibly moving those grieving losers out of the way! - Arianna, Social Media Influencer, aspiring model, verified Instagram account holder</i></p>
            </div>
        </div>
    </div>
</section>
